<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/evntAssetSel.css}" rel="stylesheet" type="text/css">
	<title>고정변동자산관리</title>
</head>
<body>
<div id="divMan">
	<input type="text" id="EVNT_NO" style="display: none;" th:value="${EVNT_NO}">
	<form method="post" action="list">
		<p>
			<button type="button" onclick="onClick_btnSer()">조회</button>
			<button type="button" onclick="onClick_btnIns()">입력</button>
		</p>
	</form>
	
	<div class="container1">
		<div class="item" style="border: 2px dashed maroon">
			<div class="cell">시작일</div>
			<div class="cell">종료일</div>
			<div class="cell">이벤트</div>
			<div class="cell">분류</div>
			<div class="cell">출금처</div>
			<div class="cell">입금처</div>
			<div class="cell">금액</div>
		</div>
	</div>
	<div class="grdEvntList">
	</div>
</div>
<div id="divDtl" style="display: none;" class="wrapper">
  <div class="content">
  
	<button type="button" onclick="onClick_btnUpd()">수정</button>
	<button type="button" onclick="onClick_btnDel()">삭제</button>
	<button type="button" onclick="onClick_btnSav()">저장</button>
	<button type="button" onclick="onClick_btnCls()">닫기</button>
		<p>
			<label>이벤트 
			<select name="EVNT" id="dtlSelEvnt" onchange="evnt_onchange()">
			<option value=''>-</option>
			</select>
			</label>
		</p>
		<p>
			<label id="labPAY_ASSET">출금처 
			<select name="PAY_ASSET" id="dtlSelPayAsset" class="PAY_ASSET">
			<option value=''>-</option>
			</select>
			</label>
		</p>
		<p>
			<label id="labRCV_ASSET">입금처 
			<select name="RCV_ASSET" id="dtlSelrcvAsset" class="RCV_ASSET">
			<option value=''>-</option>
			</select>
			</label>
		</p>
		<p><label>액수 <input type="text" id="dtlTxtAmt"></label></p>
		<p>
			<label>이벤트타입 
			<select name="EVNT_TYCD" id="dtlSelEvntTycd">
			<option value=''>-</option>
			</select>
			</label>
		</p>
		<p><label>거래처 <input type="text" id="dtlTxtFirm"></label></p>
		<p><label>설명 <input type="text" id="dtlTxtDtl"></label></p>
		<p><label>발생주기 <input type="text" id="dtlTxtEvntPer"></label></p>
		<p><label>(D:매일,W:주1,M:월1,Y:년1)</label></p>
		<p><label>발생일 <input type="text" id="dtlTxtEvntDt"></label></p>
		<p><label>시작일 <input type="text" id="dtlTxtFromDt"></label></p>
		<p><label>종료일 <input type="text" id="dtlTxtToDt"></label></p>
  </div>
</div>
</body>
<script th:src="@{/js/commonFunction.js}" charset="UTF-8"></script>
<script th:src="@{/js/fixEvntAssetMgr.js}" charset="UTF-8"></script>
</html>